.input-search {
  border: none;
  border-radius: 8px;
  height: 34px;
  padding: 19px;
  width: 333px;
}
.btn-search {
  display: none;
}

.input-mobile{
  display: none;
}
.list-people {
  border-bottom: 1px solid #efe7e7;
}
.list-people-img{
  width: 44px;
    height: 44px;
    border: 2px solid purple;
    border-radius: 39px;
    padding-bottom: 0px;

}
.list-noti {
  border-bottom: 1px solid #efe7e7;
}
::-webkit-scrollbar {
     width: 6px; 
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: purple; 
    
}

.ul-search {
  z-index: 1000;
  position: absolute;
  background: white;
  border-radius: 15px;
  box-shadow: 1px 1px 14px #777777;
  left: 32.6%;
  top: 10%;
  width: 320px;
}

.ul-noti {
  display:none;z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 14px #777777;
    left: 76%;
    top: 10%;
    width: 313px;
    overflow-y: auto;
    max-height: 220px;
}
.nav-info {
  margin-left:auto;display:flex;align-items: baseline;
}
.nav-info-mobile{
  margin: 10px;
  display: none;
  }
@media only screen and  (max-width: 1125px) {
  .ul-noti {
    display:none;z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 14px #777777;
    left: 70%;
    top: 10%;
    width: 313px;
    overflow-y: auto;
    max-height: 220px;
  }
  .ul-search {
    z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 14px #777777;
    left: 32.4%;
    top: 10%;
    width: 320px;
  }
}

@media only screen and (min-width: 900px ) and (max-width: 1047px)  {
  .ul-noti {
    display:none;z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 14px #777777;
    left: 64%;
    top: 6%;
    width: 313px;
    overflow-y: auto;
    max-height: 220px;
  }

 
}
@media only screen and (max-width: 992px) and (min-width: 723px){
  .ul-search {
    z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 14px #777777;
    left: 32.4%;
    top: 6%;
    width: 320px;
  }
}
@media only screen and (min-width: 994px ) and (max-width: 1047px)  {
  .ul-noti {
    display:none;z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 14px #777777;
    left: 64%;
    top: 10%;
    width: 313px;
    overflow-y: auto;
    max-height: 220px;
  }
}


@media only screen and (min-width: 720px ) and (max-width: 900px)  {
  .ul-noti {
    display:none;z-index: 1000;
    position: absolute;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 14px #777777;
    left: 68%;
    top: 6%;
    width: 200px;
    overflow-y: auto;
    max-height: 220px;
    flex: 1;
  }
}
@media only screen and (max-width:700px) {
  .input-search {
   display: none;
  }
  .nav-info {
    display: none;
  }
  .nav-info-mobile{
  margin: 10px;
  display: block;
  }

  .card-publish {
    margin-top: 23%;
  }
  .input-mobile{
    display: block;
    z-index: 100000;
    position: absolute;
    box-shadow: 1px 1px 15px #c5c5c5;
    left: 20%;
    top: 9%;
    margin-bottom: 2px;
    display: flex;
  }

  .btn-search {
    display: block;
    padding: 9px 24px;
    border: none;
    background: purple;
    color: white;
    border-radius: 44px;
    /* margin-left: 62px; */
    /* position: absolute; */
    /* margin-top: -12px; */
    margin: -13px 17px 1px;
    z-index: 11111111;
    position: absolute;
    left: 79%;
    top: 10%;
  }

  .ul-search {
    z-index: 1000000;
    position: absolute;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 14px #777777;
    left: 21.3%;
    top: 12.7%;
    width: 320px;
  }
}

@media only screen and (max-width:588px) {

  .input-search {
    display: none;
   }
   .nav-info {
     display: none;
   }
   .nav-info-mobile{
   margin: 0px;
   display: block;
   }
 
   .card-publish {
     margin-top: 23%;
   }
   .input-mobile{
     display: block;
     z-index: 100000;
     position: absolute;
     box-shadow: 1px 1px 15px #c5c5c5;
     left: 12%;
     top: 9%;
     margin-bottom: 2px;
     display: flex;
     width:300px
   }
 
   .btn-search {
     display: block;
     padding: 9px 24px;
     border: none;
     background: purple;
     color: white;
     border-radius: 44px;
     /* margin-left: 62px; */
     /* position: absolute; */
     /* margin-top: -12px; */
     margin: -13px 17px 1px;
     z-index: 11111111;
     position: absolute;
     left: 71%;
     top: 10%;
   }
 
   .ul-search {
     z-index: 1000000;
     position: absolute;
     background: white;
     border-radius: 15px;
     box-shadow: 1px 1px 14px #777777;
     left: 21.3%;
     top: 12.7%;
     width: 320px;
   }

}


@media only screen and (max-width:492px) {

  .input-search {
    display: none;
   }
   .nav-info {
     display: none;
   }
   .nav-info-mobile{
   margin: 0px;
   display: block;
   }
 
   .card-publish {
     margin-top: 23%;
   }
   .input-mobile{
     display: block;
     z-index: 100000;
     position: absolute;
     box-shadow: 1px 1px 15px #c5c5c5;
     left: 12%;
     top: 9%;
     margin-bottom: 2px;
     display: flex;
     width:280px
   }
 
   .btn-search {
     display: block;
     padding: 9px 24px;
     border: none;
     background: purple;
     color: white;
     border-radius: 44px;
     /* margin-left: 62px; */
     /* position: absolute; */
     /* margin-top: -12px; */
     margin: -13px 17px 1px;
     z-index: 11111111;
     position: absolute;
     left: 67%;
     top: 10%;
   }
 
   .ul-search {
     z-index: 1000000;
     position: absolute;
     background: white;
     border-radius: 15px;
     box-shadow: 1px 1px 14px #777777;
     left: 21.3%;
     top: 12.7%;
     width: 300px;
   }

}


@media only screen and (max-width:470px) {

  .input-search {
    display: none;
   }
   .nav-info {
     display: none;
   }
   .nav-info-mobile{
   margin: 0px;
   display: block;
   }
 
   .card-publish {
     margin-top: 23%;
   }
   .input-mobile{
     display: block;
     z-index: 100000;
     position: absolute;
     box-shadow: 1px 1px 15px #c5c5c5;
     left: 12%;
     top: 9%;
     margin-bottom: 2px;
     display: flex;
     width:250px
   }
 
   .btn-search {
     display: block;
     padding: 9px 24px;
     border: none;
     background: purple;
     color: white;
     border-radius: 44px;
     /* margin-left: 62px; */
     /* position: absolute; */
     /* margin-top: -12px; */
     margin: -13px 17px 1px;
     z-index: 11111111;
     position: absolute;
     left: 67%;
     top: 10%;
   }
 
   .ul-search {
     z-index: 1000000;
     position: absolute;
     background: white;
     border-radius: 15px;
     box-shadow: 1px 1px 14px #777777;
     left: 21.3%;
     top: 12.7%;
     width: 300px;
   }

}


@media only screen and (max-width:422px) {
  .input-mobile{
    display: block;
    z-index: 100000;
    position: absolute;
    box-shadow: 1px 1px 15px #c5c5c5;
    left: 12%;
    top: 9%;
    margin-bottom: 2px;
    display: flex;
    width:200px
  }

  .btn-search {
    display: block;
    padding: 9px 24px;
    border: none;
    background: purple;
    color: white;
    border-radius: 44px;
    /* margin-left: 62px; */
    /* position: absolute; */
    /* margin-top: -12px; */
    margin: -13px 17px 1px;
    z-index: 11111111;
    position: absolute;
    left: 62%;
    top: 10%;
  }
  .card-publish {
    margin-top: 31%;
  }

  .ul-search {
    z-index: 1000000;
    position: absolute;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 14px #777777;
    left: 12%;
    top: 12.7%;
    width: 200px;
  }
}
